<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- VideoClub</title>
    <!-- Uso de url_for para obtener la ruta de elementos de la página -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilo.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='fichero.js') }}"></script>


</head>
<body>
    <div>
        <a href="{{ url_for('home') }}" style="color:#8e8be0">Home</a>
        {% if not session['usuario'] %}
        <a href="{{ url_for('login') }}" style="color:#8e8be0">Sign In</a></div>
        <span style="color:#8e8be0">Usuario: An&oacutenimo</span>
        {% else %}
        <a href="{{ url_for('logout') }}" style="color:#8e8be0">Log out</a></div>
        <span style="color:#8e8be0">Usuario: {{ session['usuario'] }}</span>
        {% endif%}

        <a class="cart-icon">
            <span id="totalItems">0</span>
        <ul class="cart"></ul>
         </a>
    </div>


    {% block content%} {% endblock %}
</body>
</html>
