<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- VideoClub</title>
    <!-- Uso de url_for para obtener la ruta de elementos de la página -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilo.css') }}">
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" defer src="{{ url_for('static', filename='fichero.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='showcatalogue.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='imageclick.js') }}"></script>
    <script type="text/javascript" defer src="{{ url_for('static', filename='banner.js') }}"></script>
    
    <a class="cart-icon" href="{{url_for('carrito')}}">
        <span id="totalItems"> {{ session['num_items'] }}</span>
    </a>


</head>
<body>
    <div>
        <a href="{{ url_for('home') }}" >Home</a>
        {% if not session['usuario'] %}
        <a href="{{ url_for('login') }}" >Sign In</a></div>
        <span >Usuario: An&oacutenimo</span>
        {% else %}
        <a href="{{ url_for('logout') }}">Log out</a></div>
        <span >Usuario: {{ session['usuario'] }}</span>
        {% endif%}


    {% block content%} {% endblock %}
</body>

<aside>
    <cattext>
      <h1>Categories</h1>
    </cattext>
    <form  action="{{url_for('search') }}" method="post">
     <input type="textsearch" name="search" placeholder="Search..">
     <input  id="search" type="submit" value="Search">
    </form>

   

    <ul class="cats">
      {% for category in categories %}
        <li><a href="{{ url_for('category', nombre = category )}}" >{{ category }}</a></li>
      {% endfor %} 
    </ul>

    {% if  session['usuario'] %}
        <a id=historial href="{{ url_for('historial') }}" >Historial</a></div>
    {% endif%}

    
</aside>


<footer>
  <h1>Footer</h1>
</footer>


</html>
