{% extends "base.html" %}

{% block content %}
<body>

<div class="content">

	<h2 class="subtitulos">Tu Cesta</h2>
    {% if not lista_carrito %}
       <h2 class="subtitulos"> No tienes peliculas en tu carrito </h2>
    {% else %}
       <table>
          <tr>
            <th> Película </th>
            <th>Titulo</th>
            <th> Precio </th>
            <th> Cantidad </th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          {% for item in lista_carrito %}
          <tr>
             <td><img class="Img_carrito" src ="{{item.poster}}" alt ="item.poster"></td>
             <td> {{item.titulo}} </td>
             <td> {{item.precio}} </td>
             <td> {{item.cantidad}}</td>
             <td><span class="mas" onclick="window.location.href='{{url_for('añadir', movie_id = item.id)}}'">&#43;</span></td>
             <td><span class="menos" onclick="window.location.href='{{url_for('eliminar', movie_id = item.id)}}'">&#45;</span></td>
          </tr>
          {% endfor %}
          <tr>
             <td> <button class=button onclick="window.location.href='{{url_for('realizar_pedido')}}'">Finalizar pedido</button></td>
             <td colspan="5"> Precio final de la compra: {{precio}} </td>
          </tr>
       </table>
    {% endif %}

    {% if msg != None %}
      <b> {{ msg }} </b>
    {% endif %}

</div>

</body>
</html>

{% endblock %}