{% extends "base.html" %}

{% block content %}

<header> 
  <nav>
   	{% if not session['usuario'] %}
      <a href="{{url_for('signup') }}">Sign up</a>
    {% endif %}
  </nav>
  <p>VideoClub</p>
</header>

<content>

	<h2>Tu cesta</h2>
      {% if not lista_carrito %}
         <h2> No tienes peliculas en tu carrito </h2>
      {% else %}
         <table>
            <tr>
               <th> </th>
               <th> Película </th>
               <th> Precio </th>
               <th> Cantidad </th>
               <th> </th>
            </tr>
            {% for item in lista_carrito %}
            <tr>
               <td><img id="Img_carrito" src ="{{item.poster}}" alt ="item.poster"></td>
               <td> {{item.titulo}} </td>
               <td> {{item.precio}} </td>
               <td> {{num_elementos[item.id-1]}}</td>
               <td><span class="mas" onclick="window.location.href='{{url_for('añadir', movie_id = item.id)}}'">&#43;</span></td>
               <td><span class="menos" onclick="window.location.href='{{url_for('eliminar', movie_id = item.id)}}'">&#45;</span></td>
            </tr>
            <tr>
            {% endfor %}
            <tr>
               <td class = "fila_vacia"> <button class=boton>Finalizar Compra</button></td>
               <td class = "fila_vacia" colspan="4"> Precio final de la compra: {{precio}} </td>
            </tr>
         </table>
      {% endif %}

</content>

{% endblock %}