{% extends "base.html" %}


{% block content %}

<body>

<header> 
  <nav>
  	<a href="#" style="color:#8e8be0">Sign in</a>
   	<a href="#" style="color:#8e8be0">Sign up</a>
  </nav>
  <p>VideoClub</p>
</header>

<content>
  <bodytext><h2>{{ title }}</h2></bodytext>
  
</content>

 <aside>
   <cattext>
    <h1>Categories</h1>
   </cattext>

   <form>
    <input type="textsearch" name="search" placeholder="Search..">
   </form>

   <ul class="cats">
    {% for category in categories %}
     <li><a href="{{ url_for('category') }}" >{{ category }}</a></li>
    {% endfor %}
     
    </ul>
 </aside>

<footer>
  <p>Footer</p>
</footer>


</body>
</html>

{% endblock %}