{% extends "base.html" %}


{% block content %}

<body>

<header> 
  <nav>
   	{% if not session['usuario'] %}
      <a href="{{url_for('signup') }}">Sign up</a>
    {% endif %}
  </nav>
  <p>VideoClub</p>
</header>

<content>

  <bodytext><h2>{{ movie.titulo }}</h2></bodytext>
 


  <descr>
    <img id="myImg" src="{{ movie.poster }}" alt="{{ movie.titulo }}">

    <button class="button" onclick="location.href='{{url_for('comprar', movie_id = movie.id)}}'">Agregar a cesta</button>

    <p > Precio: {{ movie.precio }}</p>
    <p > Año: {{ movie.año }}</p>
    <p > Director: {{ movie.director }}</p>
    <p > Categoría: {{ movie.categoria }}</p>

    <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01">
      <div id="caption"></div>
      


      <script >
        imageClick();
      </script>
    </div>

  
</content>



</body>
</html>

{% endblock %}