{% extends "base.html" %}


{% block content %}

<header> 
  <nav>
    <span id="connected_users"></span>

    {% if not session['usuario'] %}
      <a href="{{url_for('signup') }}">Sign up</a>
    {% endif %}
 
  </nav>
  <p>VideoClub</p>
</header>

<content>
  <bodytext><h2>{{ title }}</h2></bodytext>

  <bodycontent>
    
      <table>
          <td>Saldo Total: {{ saldo }}</th>
            <td></td>
            <td></td>
            <td>
            <button class="button" onclick="location.href='{{url_for('aumentarSaldo')}}'">&#43; 10</button> </td>
          </tr>
        {% if msg == None %}
        {% for pedido in historial.keys() %}
          <tr> 
            <td class=dateorder colspan="3"> Pedido de {{pedido}} </td>
          </tr>

          <tr>
            <th>Portada</th>
            <th>Titulo</th>
            <th>Cantidad </th>
            <th>Precio/unidad</th>
          </tr>

          {% for item in historial[pedido] %}
            <tr>
              <td><img id="Img_carrito" src="{{item.poster}}" alt ="item.poster"></td>
              <td>{{item.titulo}}</td>
              <td>{{item.cantidad}}</td>
              <td>{{item.precio}}</td>
            </tr>
          {% endfor %}
        {% endfor %}

      </table>

      {% else %}
      </table>
      
      <cattext>
        <h3>{{ msg }}</h3>
      </cattext>
    {% endif %}
  </bodycontent>
  
</content>

{% endblock %}