{% extends "base.html" %}


{% block content %}

<header> 
  <nav>
    <a href="{{ url_for('signup') }}" >Sign up</a>
  </nav>
  <p>VideoClub</p>
</header>

<content>
  <bodytext><h2>{{ title }}</h2></bodytext>

  <bodycontent>
    {% if msg == None %}
      <table>
        {% for pedido in historial.keys() %}
          <tr> 
            <td class=dateorder colspan="3"> Pedido de {{pedido}} </td>
          </tr>

          <tr>
            <th>Portada</th>
            <th>Titulo</th>
            <th>Cantidad </th>
            <th>Precio/unidad</th>
          </tr>

          {% for item in historial[pedido] %}
            <tr>
              <td><img id="Img_carrito" src="{{item.poster}}" alt ="item.poster"></td>
              <td>{{item.titulo}}</td>
              <td>{{item.cantidad}}</td>
              <td>{{item.precio}}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      </table>
    {% else %}

      <cattext>
        <h3>{{ msg }}</h3>
      </cattext>
    {% endif %}
  </bodycontent>
  
</content>

{% endblock %}