{% extends "base.html" %}


{% block content %}

<header> 
  <nav>
  	{% if not session['usuario'] %}
  	<a href="{{url_for('signup') }}" style="color:#8e8be0">Sign up</a>
  	{% endif %}
  </nav>
  <p>VideoClub</p>
</header>

<content>
  <bodytext><h2>Catalogue</h2></bodytext>
  <a class="cart-icon">
    <span id="totalItems">0</span>
    <ul class="cart"></ul>
  </a>
  <bodycontent>
    <!-- Photo Grid -->
    <div class="row"> </div>
    <script type="text/javascript" src="{{ url_for('static', filename='showcatalogue.js') }}"></script>
      
  </bodycontent>
</content>

 <aside>
   <cattext>
     <h1>Categories</h1>
   </cattext>
   <form  >
    <input type="textsearch" name="search" placeholder="Search..">
   </form>

   

   <ul class="cats">
     <li><a href="#" >Romántica</a></li>
     <li><a href="#" >Terror</a></li>
     <li><a href="#" >Acción</a></li>
    </ul>
 </aside>

<footer>
  <p>Footer</p>
</footer>

{% endblock %}
