{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}

{% block content %}
<body>
<header> 
  <nav>
    <span id="connected_users"></span>

  	{% if not session['usuario'] %}
  	  <a href="{{url_for('signup') }}">Sign up</a>
  	{% endif %}
 
  </nav>
  <p>FILMIFY</p>
</header>



<div class="content">
	<h1>Sign In</h1>
	    <form method="post" novalidate>
	        <label><b>Username</b></label>
	        {% if nombre %}
	        	<input name="username" type="text" value ={{nombre}} placeholder="Enter username">
	        {% else %}
	        	<input name="username" type="text"  placeholder="Enter username">
	        {% endif %}
	        <label><b>Password</b></label>
	        <input name="password" type="password" placeholder="Enter password">
	        <input type="submit" value="Login">
	    </form>

</div>
</body>
</html>
{% endblock %}
